.container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  &.sm {
    max-width: 560px;
  }
  &.md {
    max-width: 768px;
  }
  &.lg {
    max-width: 1024px;
  }
  &.xl {
    max-width: 1280px;
  }
  &.xxl {
    max-width: 1536px;
  }
}
